

body {
    
}

    position: absolute;
    left:50%;
    top:50%;
    margin-left:-20px;
    margin-top:80px;
    background-color: aqua;
    border-style: dashed
}

#imagelogos {
	position: relative;
    max-width:250px;
    max-height:200px;
    width: auto;
    height: auto;
    left:50%;
    top:50%;
    margin-left:-110px;
    margin-top:-40px
	}

    .menu{
        position:relative;
        left: 35%;
        top: 50%;
        list-style:none;
        float:left;
        }

    .menu li{
        position:relative;
        float:left;
        border-right:1px solid #c0c0c0;
        }

    .menu li a{color:#333; text-decoration:none; padding:5px 10px; display:block;}

    .menu li a:hover{
        background:#333;
        color:#fff;
        -moz-box-shadow:0 3px 10px 0 #CCC;
        -webkit-box-shadow:0 3px 10px 0 #ccc;
        text-shadow:0px 0px 5px #fff;
        }
    
    .menu li  ul{
            position:absolute;
            top:25px;
            left:0;
            background-color:#fff;
            display:none;
            }
    .menu li:hover ul, .menu li.over ul{display:block;}

    .menu li ul li{
        border:1px solid #c0c0c0;
        display:block;
        width:150px;
        }
    
    div.body-content{
      /** Essa margem vai evitar que o conteudo fique por baixo do rodapé **/
      margin-bottom: 40px;
    }
    
    footer.fixar-rodape{
      border-top: 1px solid #333;
      background-color: #333;
      bottom: 0;
      left: 0;
      height: 40px;
      position: fixed;
      width: 100%;
    }

    .mySlides{
        position: absolute;
        max-width:250px;
        max-height:250px;
        width: auto;
        height: auto;
        left:45%;
        top:50%;
        margin-left:-50px;
        margin-top:-50px;
        border-radius: 15px;
        border-radius: 15px;
    }